<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="fff446e9-4e89-4d26-a3ae-def1bab41ac1" Publisher="CN=Shai" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Blue Yonder Companion</DisplayName>
    <PublisherDisplayName>Blue Yonder</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="BlueYonder.Companion.Client.App">
      <VisualElements DisplayName="ms-resource:AppDisplayName" Logo="Assets\BlueYonderGraphics\BlueYonderLogo150x150.png" SmallLogo="Assets\BlueYonderGraphics\BlueYonderSmallLogo30X30.png" Description="ms-resource:AppDescription" ForegroundText="light" BackgroundColor="#548dcd" ToastCapable="false">
        <LockScreen Notification="badgeAndTileText" BadgeLogo="Assets\BlueYonderGraphics\badgelogo-sdk.png" />
        <DefaultTile WideLogo="Assets\BlueYonderGraphics\BlueYonderWideLogo310X150.png" ShortName="ms-resource:AppShortName" ShowName="allLogos" />
        <SplashScreen Image="Assets\BlueYonderGraphics\Splash_620X300.png" BackgroundColor="#548dcd" />
      </VisualElements>
      <Extensions>
        <Extension Category="windows.search" />
        <Extension Category="windows.cameraSettings" />
        <Extension Category="windows.backgroundTasks" EntryPoint="BlueYonder.Companion.Tasks.WeatherUpdateTask">
          <BackgroundTasks>
            <Task Type="timer" />
            <Task Type="systemEvent" />
          </BackgroundTasks>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="picturesLibrary" />
    <Capability Name="internetClient" />
    <DeviceCapability Name="location" />
    <DeviceCapability Name="webcam" />
    <DeviceCapability Name="microphone" />
  </Capabilities>
</Package>